/* Board.css */

.container {
  max-width: fit-content; /* Adjust the width as needed */
  margin: 0 auto;
  padding: 20px;
  background-color: #b98787;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.score,
.highest-tile {
  font-size: 18px;
  font-weight: bold;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  grid-gap: 10px; /* Adjust the gap between tiles */
  margin-top: 20px;
}

.score-n-highest {
  display: flex;
  justify-content: space-between;
}

.tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  color: white;
  border-radius: 10px;
  height: 100px; /* Adjust the height and width as needed */
  width: 100px;
  font-size: 24px;
  font-weight: bold;
}

.tile-word {
  font-size: 12px;
}

.game-over {
  font-size: 24px;
  font-weight: bold;
  color: red;
  margin-top: 20px;
}
