/* Board.css */
.content {
  width: 478px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.board {
  margin: auto;
  position: relative;
  background: rgb(255, 255, 255);
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  border-radius: 15px;
  box-shadow: 3px 3px 24px 3px #dfdfe0;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 6px;
}
.tile-wrapper {
  background-color: #fbfaf9;
  border-radius: 12px;
  width: 60px;
  height: 60px;
  font-size: small;
}
.tile {
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60px;
  height: 60px;
  font-size: small;
  background-color: #49c5fa;
  color: #49c5fa;
}
@media only screen and (max-width: 950px) {
  .tile,
  .tile-result,
  .tile-wrapper {
    width: 60px;
    height: 60px;
    font-size: small;
  }
}
.score,
.highest-tile {
  font-size: 18px;
  font-weight: bold;
}

.game-board {
  display: grid;
  background-color: red;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  grid-gap: 3px; /* Adjust the gap between tiles */
  margin-top: 20px;
}

.score-n-highest {
  display: flex;
  justify-content: space-between;
}

.tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}

.tile-word {
  font-size: 12px;
}

.game-over {
  font-size: 24px;
  font-weight: bold;
  color: red;
  margin-top: 20px;
}
